@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');
*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "karla",sans-serif;
  /* font-family: 'Prosto One', cursive; */
  
}
.header{
  display: flex;
  align-items: center;
  height: 65px;
  
}
